.navLink {
  font-size: 1.25rem;
  transition: 0.2s;
}

.navLink:hover {
  color: #00bfb1;
  transition: 0.2s;
}

.navLinkActive {
  color: #00bfb1;
}

.landingBg {
  /* background-image: url("https://source.unsplash.com/user/chogster/likes/1920x1080"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 40vh;
  opacity: 0.9;
  filter: grayscale(100%);
}

.landingTitle {
  position: absolute;
  font-size: 3rem;
}

.landingBox {
  position: absolute;
  margin-top: 9.75rem;
  border-radius: 0.2rem;
  box-sizing:fit-content;
  margin-left:2rem;
  margin-right:2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  word-break: break-all;
  z-index: 1;
  opacity: 0.8;
}
